<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.superdeland.studio.ui.editor.DelandEditor"
            contributorClass="org.superdeland.studio.ui.editor.DelandEditorActionBarContributor"
            default="true"
            extensions="de"
            icon="icons/codecount.gif"
            id="org.superdeland.studio.ui.editor"
            name="Deland Editor">
      </editor>
   </extension>

</plugin>
